h1, h2 {
  font-weight: 100;
}

.text-white {
  color: white;
}

.btn-white {
  color: white;
  border: 1px solid white;
  
}



.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('oosaka-min.jpg');
}