h1, h2 {
  font-weight: 100;
}

.text-white {
  color: white;
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('oosaka-min.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



.btn-white {
  color: white;
  border: 1px solid white;
  
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
 
}

input {
  height: auto !important;
}
